pin/obj-intel64/*
pin/__pycache__/*
pin/__init__.py
pin/*.pyc
binary_analysis/*.o
binary_analysis/*.so
binary_analysis/analysis
binary_analysis/graph
binary_analysis/*result
binary_analysis/*results
preprocessor/*.o
preprocessor/preprocess
rr/*.json
rr/*.log
rr/__pycache__/*
rr/__init__.py
rr/*.pyc
__pycache__/*
__init__.py
*.pyc
graph
*result
*results
preprocess_data
instruction_reg_log_arg
binary_dump_*
