limit=3000
program=mongod_4.0.13
program_args=--dbpath /home/renxian2/eval_mongodb_44991/repro/4.0.13/db --logpath /home/renxian2/eval_mongodb_44991/repro/4.0.13/db.log --wiredTigerCacheSizeGB 10
program_path=/home/renxian2/eval_mongodb_44991/repro/4.0.13/bin/
starting_event_file=starting_events_good_run

