limit=7000
program=mongod_4.2.1
program_args=--dbpath /home/renxian2/eval_mongodb_44991/repro/4.2.1/db --logpath /home/renxian2/eval_mongodb_44991/repro/4.2.1/db.log --wiredTigerCacheSizeGB 1
program_path=/home/renxian2/eval_mongodb_44991/repro/4.2.1/bin/
starting_event_file=starting_events_bad_run
extra_starting_event_file=starting_events_bad_run_extra
single_machine_parallelization_factor=8
port=12000
inner_port=9999
