limit=5000
program=mongod_4.2.1
program_args=--dbpath /home/renxian2/eval_mongodb_44991/repro/4.2.1/db --logpath /home/renxian2/eval_mongodb_44991/repro/4.2.1/db.log --wiredTigerCacheSizeGB 10
program_path=/home/renxian2/eval_mongodb_44991/repro/4.2.1/bin/
starting_event_file=starting_events_bad_run

